extends index.pug

block content
    if messages && messages.length
        h2 #{messages}
    div(class="addScript")
        div(class="")
            h3 Please look on your prescription bottle for the following information:
            label(for="script_name") Search for your prescription:
            input(type="text", id="searchApi" placeholder="Amoxicillin" name="script_name", required=true)
            button(type="submit" id="apiBtn") Search
            br
            form(method="POST", action='/prescriptions')
                br
                #target
                br
                label(for="dose") How many pills are you supposed to take for one dose?
                br
                input(type="number", name="dose", placeholder="1" required=true)
                br
                label(for="frequency") How often are you supposed to take each dose?
                br
                select(name="frequency" id="frequencyDropdown")
                    option(value="" disabled) Select:
                    option(id="1morning" ) Once a day in the morning (7:00 AM)
                    option(id="1bedtime") Once a day at bedtime (11:00 PM)
                    option(id="2x") Two times a day(7:00 AM, 11:00 PM)
                    option(id="3x") Three times a day (7:00 AM, 4:00 PM, 11:00 PM)
                    option(id="4x") Four times a day (7:00 AM, 11:00 AM, 6:00 PM, 11:00 PM)
                    option(id="6x") Six times a day (6:00 AM, 10:00 AM, 2:00 PM, 6:00 PM, 10:00 PM, 2:00 AM)
                br
                label(for="total_in_bottle") How many pills are in your bottle?
                br
                input(type="number" placeholder="30" name="total_in_bottle" required=true)
                br
                label(for="exp_date") Expiration Date of Medication:
                br
                input(type="date", name="exp_date", required=true)
                br
                label(for="date_entered") Today's Date:
                br
                input(type="date", name="date_entered", required=true)
                br
                label(for="doctor_name") What doctor prescribed this medication?
                br
                input(type="text", placeholder="Indira Amani" name="doctor_name", required=true)
                br
                label(for="pharmacy_name") What pharmacy filled this prescription?
                br
                input(type="text", placeholder="CVS Pharmacy" name="pharmacy_name", required=true)
                br
                label(for="pharmacy_phone") What is the phone number to reach this pharmacy?
                br
                input(type="tel", placeholder="999-999-9999" name="pharmacy_phone", required=true)
                br
                button(type="submit" id="submitScript" class="btn btn-secondary submitScript" style="cursor: pointer;") Submit

    script
      include ../node_modules/jquery/dist/jquery.js
      include ../public/main.js