extends index.pug

block content
    div.list
        if allergy
            ul #{person.first_name}'s Allergies:
                each all in allergy
                    li #{all.dataValues.drug_name}
            br

        ul #{person.first_name}'s Prescriptions:
            div(id="2:00 AM")
                each script in prescription
                    if script.dataValues.frequency6 != null && script.dataValues.frequency6=='2:00 AM'
                        li #{script.dataValues.dose} of your #{script.dataValues.script_name} at #{script.dataValues.frequency6}

            div(id="6:00 AM")
                each script in prescription
                    if script.dataValues.frequency1=='6:00 AM'
                        li Take #{script.dataValues.dose} of your #{script.dataValues.script_name} at #{script.dataValues.frequency1}
            div(id="7:00 AM")
                each script in prescription
                    if script.dataValues.frequency1 != null && script.dataValues.frequency1=='7:00 AM'
                        li #{script.dataValues.dose} of your #{script.dataValues.script_name}  at #{script.dataValues.frequency1}

            div(id="10:00 AM")
                each script in prescription
                        if script.dataValues.frequency2 != null && script.dataValues.frequency2=='10:00 AM'
                            li #{script.dataValues.dose} of your #{script.dataValues.script_name}  at #{script.dataValues.frequency2}
            div(id="11:00 AM")
                each script in prescription
                    if script.dataValues.frequency3 != null && script.dataValues.frequency3=='11:00 AM'
                        li #{script.dataValues.dose} of your #{script.dataValues.script_name}  at #{script.dataValues.frequency3}
            div(id="2:00 PM")
                each script in prescription
                    if script.dataValues.frequency3 != null && script.dataValues.frequency3=='2:00 PM'
                            li #{script.dataValues.dose} of your #{script.dataValues.script_name} at #{script.dataValues.frequency3}
            div(id="4:00 PM")
                each script in prescription
                    if script.dataValues.frequency3 != null && script.dataValues.frequency3=='4:00 PM'
                        li #{script.dataValues.dose} of your #{script.dataValues.script_name}  at #{script.dataValues.frequency3}
            div(id="6:00 PM")
                each script in prescription
                    if script.dataValues.frequency4 != null && script.dataValues.frequency4=='6:00 PM'
                        li #{script.dataValues.dose} of your #{script.dataValues.script_name} at #{script.dataValues.frequency4}
            div(id="10:00 PM")
                each script in prescription
                    if script.dataValues.frequency5 != null && script.dataValues.frequency5=='10:00 PM'
                        li #{script.dataValues.dose} of your #{script.dataValues.script_name}  at #{script.dataValues.frequency5}
            div(id="11:00 PM")
                each script in prescription
                    if script.dataValues.frequency6 != null && script.dataValues.frequency6=='11:00 PM'
                        li #{script.dataValues.dose} of your #{script.dataValues.script_name} at #{script.dataValues.frequency6}





