extends index.pug

block content
    h3 Update #{script.script_name} information:
    form(method='POST' class=''  id="updateScript" action=`/prescription/${script.id}?_method=PUT`)
        label(for="script_name") Prescription Name and Strength:
        br
        input(type='text' name='script_name' class='' id="scriptName" value=script.script_name)
        br
        label(for="dose") How many pills are you supposed to take for one dose?
        br
        input(type='text' name='dose' class='' id="scriptDose" value=script.dose)
        br
        label(for="total_in_bottle") How many pills are in your bottle?
        br
        input(type='text' name='total_in_bottle' class='' id="totalInBottle" value=script.total_in_bottle)
        br
        label(for="doctor_name") What doctor prescribed this medication?
        br
        input(type='text' name='doctor_name' class='' id="docName" value=script.doctor_name)
        br
        label(for="pharmacy_name") What pharmacy filled this prescription?
        br
        input(type='text' name='pharmacy_name' class='' id="pharmName" value=script.pharmacy_name)
        br
        label(for="pharmacy_phone") What is the phone number to reach this pharmacy?
        br
        input(type='text' name='pharmacy_phone' class='' id="pharmPhone" value=script.pharmacy_phone)
        br
        button(type="submit" class="btn btn-secondary") Update
        br
    form(method='POST' action=`/prescription/${script.id}?_method=DELETE`)
        button(type="submit" class="btn btn-secondary deleteBtn") Delete
